<footer id="footer">
  <div class="inner">
      <div module="Layout_footer">
          <!--@css(/css/module/layout/footer.css)-->
          <div class="footer_info">Copyright &copy; <strong>{$mall_name}</strong>. All rights reserved.</div>
          <!-- <span>법인명(상호) : {$company_name} </span> <span>대표자(성명) : {$president_name}</span> <span>사업자 등록번호 안내 : [{$company_regno}]</span> <span>통신판매업 신고 {$network_regno}</span> <span>{$biz_no_link}</span> <br />
          <span>전화 : {$phone}</span> <span>팩스 : {$fax}</span> <span>주소 : {$mall_zipcode} {$mall_addr1} {$mall_addr2}</span><br />
          <span class="{$cpo_email|display}">개인정보보호책임자 : <a href="mailto:{$cpo_email}">{$cpo_name}({$cpo_email})</a></span><br />
          <span>Contact <strong><a href="mailto:{$email}">{$email}</a></strong> for more information.</span> -->
      </div>
  </div>
</footer>