.xans-layout-footer { position:relative; }
.xans-layout-footer .utilMenu { overflow:hidden; height:44px; line-height:44px; *zoom:1; }
.xans-layout-footer .utilMenu li { float:left; padding:0 10px 0 10px; background:url("//img.echosting.cafe24.com/skin/base/common/ico_bar2.gif") no-repeat 0 15px; }
.xans-layout-footer .utilMenu li.home { padding-left:0; background:none; }
.xans-layout-footer .utilMenu li a { color:#2e2e2e; }
.xans-layout-footer .footer_info { padding: 50px 0; text-align: center;}
.xans-layout-footer .copyright { position:absolute; left:0px; bottom:0; height:45px; font-size:11px; line-height:45px; }
.xans-layout-footer .pageTop { position:absolute; right:0; top:10px; }
.xans-layout-footer .hosting { position:absolute; right:0; top:77px; }
